<div class="footerpadre">
    <!-- Footer -->
    <div class="container-fluid mt-5 footer0">
    </div>
    
    <div class="footer1">
    
        <div class="row pt-4 d-flex flex-row">
    
            <div class="offset-1 col-5 fotoresena d-flex flex-row">
                <img src="../assets/img/hdv.jpg" alt="small pic" class="mt-4">
                <p class="mt-4">I'm Daniel Cortés, a Fullstack Developer hungry for knowledge. I always do my best to ensure high quality for any project I work on.
                </p>
            </div>
    
            <div class="offset-2 col-4">
    
                <div class="row">
                    <div class="mt-4 col-4">
                        <ul class="lista-footer-1">
                            <li><a href="https://github.com/dcortestorrado" target="_blank"><i class="fab fa-github fa-lg me-2"></i>GITHUB</a></li>
                            <li><a href="https://www.linkedin.com/in/dcortestorrado/" target="_blank"><i class="fab fa-linkedin fa-lg me-2"></i>LINKEDIN</a></li>
                            <li><a routerLink="contactme"><i class="far fa-envelope fa-lg me-2"></i>CONTACT ME</a></li>
                        </ul>
                    </div>
                    <div class="mt-4 offset-2 col-4">
                        <ul class="lista-footer-2">
                            <li><a routerLink=""><i class="fas fa-home fa-lg me-2"></i>HOME</a></li>
                            <li><a routerLink="portfolio"><i class="fas fa-suitcase fa-lg me-2"></i>PORTFOLIO</a></li>
                            <li><a routerLink="profile"><i class="far fa-address-card fa-lg me-2"></i>PROFILE</a></li>
                        </ul>
                    </div>
                </div>
    
            </div>
    
        </div>
    </div>
    
    <!-- Footer Copyright-->
    <div class="footer2">
        <p class="text-center">Copyright © 2021 - Daniel Cortés</p>
    </div>
</div>
