<div class="row d-flex justify-content-center">
    <div class="col-4 my-4 ficha-principal text-center d-flex flex-column justify-content-around align-items-center">
        <h1 class="mb-5">Frontend and Backend Development</h1>
        <div class="d-flex flex-row justify-content-evenly align-items-center imagenes-logos w-75">
            <img src="assets/img/html5.svg" class="html-logo" alt="HTML logo">
            <img src="assets/img/css.png" class="css-logo" alt="CSS logo">
            <img src="assets/img/js.svg" class="js-logo" alt="JS logo">
            <img src="assets/img/bootstrap.svg" class="bs-logo" alt="Bootstrap logo">
            <img src="assets/img/nodejs.png" class="node-logo" alt="NodeJS logo">
            <img src="assets/img/angular.svg" class="angular-logo" alt="Angular logo">
            <img src="assets\img\mongo.png" class="mongo-logo" alt="MongoDB logl">
        </div>
        <p class="mb-5">Hello, I am Daniel. I'm a Fullstack Developer and I'm here to help you getting
            websites that answer to your needs.
        </p>
    </div>
</div>
