<!--Hoja de vida-->

<div class="container">

    <div class="row">

        <!-- Lado izquierdo -->
        <div class="col-8 bg-light">

            <div class="row d-flex justify-content-center">

                <div class="col-10 ficha-titulo d-flex flex-column justify-content-center align-items-center text-center"
                    style="height: 300px;">
                    <h1 class="titulo">DANIEL ANTONIO CORTÉS TORRADO</h1>
                    <hr class="barra-negra">
                    <h3 class="subtitulo">JR. FULLSTACK WEB DEVELOPER - SPANISH TUTOR - MUSICIAN - MUSIC PRODUCER</h3>
                </div>

                <div
                    class="col-10 mt-4 ficha-education d-flex flex-column justify-content-center align-items-center text-center">
                    <h3>RELEVANT SKILLS AND PROFESSIONAL DEVELOPMENT</h3>
                </div>

                <!-- Fichas habilidades-->
                <div class="col-10 mt-4 fichas-skills">

                    <div class="row">
                        <div class="col-11">
                            <h4>Technical Skills</h4>
                        </div>

                        <div class="col-1" onclick="abrirModal1()"><i class="fas fa-search-plus lupa"></i></div>
                    </div>

                    <ul>
                        <li>Knowledge and experience working with Zoom and Google Meet</li>
                        <li>Advanced knowledge of Microsoft Excel, Word and PowerPoint</li>
                        <li>KPH (Keystrokes per Hour): 21250</li>
                        <li>Skilled in HTML, CSS, Bootstrap, JavaScript, Angular and MongoDB</li>
                        <li>Professional Musician - Guitarist</li>
                        <li>Music producer skilled in recording, editing, mixing and mastering</li>
                    </ul>
                </div>

                <div class="col-10 mt-3 fichas-skills">
                    <div class="row">
                        <div class="col-11">
                            <h4>Language Skills</h4>
                        </div>

                        <div class="col-1" onclick="abrirModal1()"><i class="fas fa-search-plus lupa"></i></div>
                    </div>

                    <ul>
                        <li>Spanish - Native Speaker</li>
                        <li>English - C2</li>
                        <li>German - A1</li>
                        <li>Advanced comprehension of different linguistic concepts and learn languages quickly</li>
                    </ul>
                </div>

                <div class="col-10 mt-3 fichas-skills">
                    <div class="row">
                        <div class="col-11">
                            <h4>Interpersonal Skills</h4>
                        </div>

                        <div class="col-1" onclick="abrirModal1()"><i class="fas fa-search-plus lupa"></i></div>
                    </div>
                    <ul>
                        <li>Grasp and apply new concepts efficiently</li>
                        <li>Adapt to new challenges quickly</li>
                        <li>Able to collaborate with peers and colleagues effectively</li>
                        <li>Treat others with patience, respect and upmost professionalism</li>
                    </ul>
                </div>

                <div
                    class="col-10 mt-4 ficha-education d-flex flex-column justify-content-center align-items-center text-center">
                    <h3>WORK EXPERIENCE</h3>
                </div>

                <div class="col-10 mt-4 ficha-work mb-5">

                    <div class="row d-flex flex-row">

                        <div class="col-10">
                            <h5 class="titulos-trabajos">Self-employed</h5>
                            <p class="descripcion-trabajos">Spanish tutor</p>
                            <h5 class="titulos-trabajos">Amazon</h5>
                            <p class="descripcion-trabajos">Voice Customer Service Agent North America - English</p>
                            <h5 class="titulos-trabajos">Tend´Rizer</h5>
                            <p class="descripcion-trabajos">Streaming Technician</p>
                        </div>

                        <div class="col-2">
                            <p class="ms-5 mt-1 mb-0 fechas">Sep - </p>
                            <p class="ms-5 mb-1 fechas">2021</p>
                            <p class="ms-3 mt-4 mb-0 fechas">May - Jun</p>
                            <p class="ms-5 mb-1 fechas">2021</p>
                            <p class="ms-3 mt-4 mb-0 fechas">Mar - Apr</p>
                            <p class="ms-5 mb-1 fechas">2021</p>
                        </div>

                    </div>

                </div>



            </div>

        </div>

        <!-- Lado derecho -->
        <div class="col-4 barra-derecha d-flex flex-column align-items-center">

            <div class="contenedor-photo">

            </div>

            <div class="bg-light d-flex justify-content-center contact-info">
                <h3 class="titulo-contact-info">CONTACT INFO</h3>
            </div>

            <div class="datos-contact-info bg-light d-flex flex-column align-items-center">
                <ul class="lista-datos-contact-info">
                    <li>(+57) 320 852 6830</li>
                    <li>dcortestorrado@gmail.com</li>
                    <li>linkedin.com/in/dcortestorrado</li>
                    <li>instagram.com/oyetimbila</li>
                </ul>
            </div>

            <div class="bg-light d-flex justify-content-center volunteering-experience">
                <h3 class="titulo-contact-info text-center">VOLUNTEERING EXPERIENCE</h3>
            </div>

            <div class="datos-contact-info bg-light d-flex flex-column align-items-center">

                <div class="d-flex mt-4">
                    <h4 class="w-75 titulos-volunteering">Virgilio Barco Library</h4>
                    <h4 class="mt-3 titulos-volunteering">2003</h4>
                </div>

                <ul class="lista-datos-volunteering">
                    <li class="mb-2">Helped users locate sources, create documents and use email applications</li>
                    <li>Assisted users to diagnose computer hardware or software issues to facilitate ease of use within
                        the library's resources</li>
                </ul>
            </div>



        </div>

    </div>

</div>